
.upload-btn-wrapper {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  left: 225px;
  top: 10px;
}

.btnOverlay {
  border: 0px white;
  color: white;
  background-color: #602b30;  /* #272b30; */
  /* background-color: #007aff; */
  padding: 3px 0px;
  border-radius: 2px;
  font-size: 14px;
  /*font-weight: bold;*/
  pointer-events:none;
}

.upload-cover {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

 .card-body {
    box-sizing: content-box;
}
